@page "/register"
@using CoolBlazor.Shared
@layout MainLayout
@using Microsoft.AspNetCore.Authorization
@using CoolBlazor.Static.Icons
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Register> _localizer
@inject ISnackbar _snackBar

<PageTitle>Register</PageTitle>
<EditForm Model="@_registerUserModel" OnValidSubmit="CreateAsync">
    <Blazored.FluentValidation.FluentValidationValidator @ref="_fluentValidationValidator" />

    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@CoolBlazor.Static.Icons.CustomIcons.CoolBlazorLogo" Size="Size.Large"
                    ViewBox="0 0 500 500" Style="@($"color:{CoolBlazor.Static.Colors.CustomColors.LogoColor};")"
                    class="register-logo" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@_localizer["Sign Up"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText>@_localizer["Already have an account?"] <MudLink Href="/login">@_localizer["Sign In"]</MudLink>
                </MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["FirstName"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.FirstName" For="@(() => _registerUserModel.FirstName)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["LastName"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.LastName" For="@(() => _registerUserModel.LastName)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["UserName"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.UserName" For="@(() => _registerUserModel.UserName)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@_localizer["E-mail"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.Email" For="@(() => _registerUserModel.Email)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField T="string" Label="@_localizer["Phone Number"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.PhoneNumber" For="@(() => _registerUserModel.PhoneNumber)" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["Password"]" Variant="Variant.Outlined"
                @bind-Value="_registerUserModel.Password" For="@(() => _registerUserModel.Password)"
                InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon"
                OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["Confirm Password"]" Variant="Variant.Outlined" InputType="@_passwordInput"
                @bind-Value="_registerUserModel.ConfirmPassword" For="@(() => _registerUserModel.ConfirmPassword)"
                Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon"
                OnAdornmentClick="TogglePasswordVisibility" />
        </MudItem>
        <MudItem xs=" 12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated)"
                Color="@CoolBlazor.Static.Colors.CustomColors.ButtonColor" Size="Size.Large" Style="width: 100%;">
                @_localizer["Sign Up"]</MudButton>
        </MudItem>
    </MudGrid>

</EditForm>

<style>
    .register-logo {
        width: 100px;
        height: 100px;
    }
</style>
