@page "/account/forgot-password"
@layout MainLayout
@attribute [AllowAnonymous]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Forgot> _localizer

<EditForm Model="@_emailModel" OnValidSubmit="SubmitAsync">
    <Blazored.FluentValidation.FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudGrid>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudIcon Icon="@Static.Icons.CustomIcons.CoolBlazorLogo" Size="Size.Large" ViewBox="0 0 510 510"
                    Style="@($"color:{CoolBlazor.Static.Colors.CustomColors.LogoColor};")" class="forgot-logo" />
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.h4">@_localizer["Forgot password?"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <div class="d-flex justify-center">
                <MudText Typo="Typo.subtitle2" Class="mb-n4">@_localizer["Enter email for password reset"]</MudText>
            </div>
        </MudItem>
        <MudItem xs="12">
            <MudTextField Label="@_localizer["E-mail"]" @bind-Value="_emailModel.Email" For="@(() => _emailModel.Email)"
                Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButton Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Dark" Size="Size.Large"
                ButtonType="ButtonType.Submit" FullWidth="true">@_localizer["Reset Password"]</MudButton>
        </MudItem>
    </MudGrid>
</EditForm>

<style>
    .forgot-logo {
        width: 100px;
        height: 100px;
    }
</style>